.signup-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 32px;
  background-color: #000000;
  color: white;
}

.signup-navbar-logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 20px;
}

.signup-navbar-logo img {
  height: 70px;
  margin-right: 10px;
}

.signup-navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.signup-navbar-links li a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.signup-navbar-links li a:hover {
  color: #ffe25f;
}
