.signup-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 0px 140px;
  width: 100%;
  box-sizing: border-box;
}

.signup-navbar-logo {
  height: 120px;
  width: 300px;
  margin-right: 40px;
}

.signup-navbar-logo img {
  height: 120px;
  margin-right: 40px;
}

.signup-navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
  
}

.signup-navbar-links li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 18px; /* Increased font size */
  background-color: #1a1a1a; /* Box background */
  padding: 12px 20px;        /* Box padding */
  border-radius: 8px;        /* Rounded corners */
  transition: background-color 0.3s, color 0.3s;
  border-radius: 8px; /* Rounded corners for the box */ 

}

.signup-navbar-links li a:hover {
  background-color: #ffffff;
  color: #000000;
}
