.signup-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 0px 140px;
  width: 100%;
  box-sizing: border-box;
  z-index: 10;
}

.signup-navbar-logo {
  height: 120px;
  width: 300px;
  margin-right: 40px;
}

.signup-navbar-logo img {
  height: 120px;
  margin-right: 40px;
}

.signup-navbar-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.signup-navbar-links li a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  background-color: #1a1a1a;
  padding: 12px 20px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.signup-navbar-links li a:hover {
  background-color: #ffffff;
  color: #000000;
}
