.footer {
  background-color: rgba(10, 10, 10, 0.85); /* darker base with slight transparency */
  color: #ffffff;
  padding: 60px 150px;
  font-family: 'Segoe UI', sans-serif;
  position: relative;
  z-index: 999;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 40px;
}
.footer-links div p {
  margin: 6px 0;
}
.footer-links a {
  color: white;
  text-decoration: none;
}
.footer-links a:hover {
  text-decoration: underline;
}


.footer-left {
  flex: 1;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-logo {
  height: 140px;
  margin-bottom: 30px;
}

.footer-socials {
  margin-left: 70px;
  display: flex;
  gap: 35px;
  font-size: 2.5rem;
  color: #ffffff;
}

.footer-center {
  flex: 1;
  min-width: 250px;
  text-align: center;
}

.footer-center p {
  font-size: 1.3rem;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

.map-button {
  background-color: #a259ff;
  color: #ffffff;
  border: none;
  padding: 14px 32px;
  border-radius: 40px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  font-size: 1.1rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;
}

.map-button:hover {
  background-color: #8b41e9;
}

.footer-right {
  flex: 1;
  min-width: 250px;
  text-align: right;
}

.footer-right p {
  font-size: 1.2rem;
  line-height: 1.8;
}

.footer-line {
  border: none;
  border-top: 1px solid #333;
  margin: 40px 0;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 60px;
  margin-left: 60px;
}

.footer-links div {
  min-width: 200px;
}

.footer-links h4 {
  font-size: 1.3rem;
  margin-bottom: 14px;
  color: #ccc;
}
.social-icon {
  color: white;
  font-size: 20px;
  margin: 0 10px;
  transition: color 0.3s ease;
}


.footer-links p {
  margin: 8px 0;
  font-size: 1.1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}

.footer-links p:hover {
  color: #a259ff;
}

.footer-bottom {
  text-align: right;
  margin-top: 30px;
  font-size: 1rem;
  color: #aaa;
}
