.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000000;
  padding: 0px 140px;
  width: 100%;
  box-sizing: border-box;
}

.herder-right {
  display: flex;
  align-items: center;
  color: white;
  font-family: 'Nimbus Sans L', sans-serif;
  font-size: 24px;
  font-weight: bold;
}

.header-logo {
  height: 120px;
  width: 300px;
  margin-right: 40px;
}

.header-right {
  display: flex;
  gap: 10px;
  font-size: 18px;
}


.header-right.header-btn {
  /* background-color: white; */
  color: #ffffff;
  border: none;
  padding: 13px 25px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.header-btn:hover {
  background-color: #ebc8ff;
}