.mess-info-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background: rgba(10, 10, 20, 0.0);
  padding: 30px 80px;
  border-radius: 12px;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  color: #ffffff;
}

.mess-info-text {
  flex: 1;
  min-width: 300px;
  max-width: 600px;
  padding: 80px;
  text-align: left;
}

.mess-heading {
  font-size: 4.5rem;
  font-weight: 800;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 15px;
}

.mess-description {
  margin: 20px 0;
  font-size: 1.5rem;
  line-height: 1.5;
  color: #b7b7b7;
  font-family: 'Poppins', sans-serif;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

.mess-features.typewriter {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;
  font-weight: 600;
  color: #ffe25f;
  margin: 20px 0;
  min-height: 3rem;
  text-align: left;
}

.Typewriter__wrapper {
  font-size: 1em !important;
  color: #ffe25f !important;
  font-weight: 600 !important;
  font-family: 'Poppins', sans-serif;
}

.Typewriter__cursor {
  font-size: 1em !important;
  color: #ffe25f !important;
}

.mess-links p {
  font-size: 1.1rem;
  margin: 5px 0;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  text-align: left;
}

.link {
  color: #72b6ff;
  font-weight: 600;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}

.link:hover {
  text-decoration: underline;
}

.mess-info-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 350px;
}

.mess-info-image img {
  max-width: 70%;
  height: auto;
  border-radius: 12px;
}

/* Responsive Adjustments */
@media screen and (max-width: 768px) {
  .mess-info-container {
    flex-direction: column;
    align-items: flex-start;
    padding: 30px 20px;
  }

  .mess-info-text {
    padding: 20px 10px;
    text-align: left;
  }

  .mess-heading {
    font-size: 2.4rem;
    text-align: left;
  }

  .mess-description {
    font-size: 1.1rem;
    text-align: left;
  }

  .mess-features.typewriter {
    font-size: 1.1rem;
    min-height: 2.5rem;
    text-align: left;
  }

  .mess-links p {
    text-align: left;
  }

  .mess-info-image {
    width: 100%;
    justify-content: center; /* Center image horizontally */
    display: flex;
    margin-top: 30px;
  }

  .mess-info-image img {
    max-width: 60%;
    height: auto;
    margin: 0 auto; /* Ensures the image is centered */
  }

  .Typewriter__wrapper {
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    position: static !important;
  }

  .Typewriter__cursor {
    display: none !important;
  }
}
