.navbar {
  width: 100%; /* Changed from 100vw to 100% */
  height: 70px;
  background: linear-gradient(to right, #42046c, #b59dbf);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  box-sizing: border-box;
  overflow: hidden;
  z-index: 10;
}
.navbar-logo {
  height: 70px;
}

.navbar-profile {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 10px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.welcome-text {
  margin-right: 10px;
  font-weight: 500;
  color: #fff;
}
