.service-container {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 8px;
  margin: 40px;
  width: 100%;
  /* margin-top: 5; */
}

.service-title {
  color: #5e3fba;
  font-size: 25px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 5px;
  margin-top: 5;
}

.service-info p {
  font-size: 14px;
  color: black;
  margin: 4px 0;
}

textarea {
  width: 90%;
  padding: 10px;
  margin-top: 8px;
  border-radius: 5px;
  resize: none;
  border: 1px solid #ccc;
}

.service-buttons {
  margin-top: 12px;
  display: flex;
  gap: 10px;
}

.service-buttons button {
  padding: 5px 12px;
  font-size: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button.send {
  background-color: #2f2fff;
  color: white;
}

button.change {
  background-color:  #2f2fff;
  color: white;
}

button.remove {
  background-color: #2f2fff;
  color: white;
}
.message-box {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
}

.message-box textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  resize: none;
  border: 1px solid #ccc;
  font-size: 14px;
  color: #020202;
  background-color: #f7ebeb;
}