.suggestions-page {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.suggestions-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* margin-left: 250px; /* to accommodate sidebar */
  /* margin-top: 80px;    to accommodate navbar */ 
  /* position: relative; */
  gap: 20px;
  
}

.section-title {
  font-size: 30px;        
  font-weight: bold;
  color: #863bc0;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
}

.service-column {
  width: 48%;
  background-color:#cbcbcb;
  padding: 15px;
  border-radius: 8px;
}

.section-title {
  text-align: center;
  font-size: 20px;
  color: #863bc0;
  font-weight: bold;
  margin: 10px;
  text-transform: uppercase;
}

.card-scroll {
  max-height: 480px;
  overflow-y: auto;
  padding-right: 5px;
}

.service-card {
  background-color: #fff;
  padding: 10px 15px;
  margin-bottom: 15px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
  position: relative;
}


.card-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-info {
  width: 68%;
}

.card-logo {
  width: 30%;
  text-align: right;
}

.card-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 8px;
}

.interested-btn {
  position: absolute;
  bottom: 10px;
  right: 15px;
  background-color: #863bc0;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 13px;
  cursor: pointer;
  transition: background 0.3s;
}

.interested-btn:hover {
  background-color: #5e2e9c;
}


