.update-details-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 100px 20px 40px 100px;
  gap: 30px;
  min-height: 100vh;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.update-card {
  background: #ffffff;
  border-radius: 12px;
  padding: 20px 25px;
  width: 445px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.3s ease;
}

.update-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.update-card h2 {
  margin-bottom: 15px;
  color: #4b0082;
  font-size: 18px;
  border-bottom: 1px solid #eee;
  padding-bottom: 8px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-group input {
  padding: 0.8rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
  color: #555;
}

.update-btn {
  margin-top: 1rem;
  padding: 0.8rem 1.2rem;
  background: #4b0082;
  color: #fff;
  border: none;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.update-btn:hover {
  background: #4b0082
}

.feedback {
  margin: 0.5rem 0;
  color: green;
  font-weight: bold;
}

.icon {
  font-size: 20px;
}
